:root {
    --bg-color: #121212;
    --text-color: #eae1de;
    --link-color: #5178e4;
    --head-bg-color: #06235d;
    --note-color: #222832;
    --border-color: #6d88b1;
    --border-color2: #6db181;
    --fade-color: #9ca4af;
    --accent-color: #e89217;
    --default-font: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --heading-font: "JetBrains Mono", monospace;
    font-size: 16px;
}

body {
    background-color: var(--bg-color);
}

.content {
    margin-left: 20%;
    margin-right: 20%;
    padding: 0rem 2rem;
    color: var(--text-color);
    display: block;
}

.horizcont {
    padding: 0rem 0rem;
    margin: 0;
    color: var(--text-color);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 0%;
    width: 100%;
}

p, li {
    color: var(--text-color);
    font-family: var(--default-font);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.65;
    margin-top: 0rem;
    margin-bottom: 1.15rem;
    padding: 0;
    z-index: 3;
}

.morep {
    color: var(--border-color2);
    font-weight: 500;
    font-style: normal;
    margin-bottom: 1rem;
    z-index: 4;
    font-size: 1.575rem;
}

.lessp {
    color: var(--border-color);
    font-weight: 700;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li::before {
    content: "–";
    color: var(--accent-color);
    margin-right: 0.6em;
    font-family: var(--heading-font);
}

ul li:hover {
    color: var(--accent-color);
}

a {
    color: var(--link-color);
    font-family: var(--heading-font);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

a:has(svg) {
    color: var(--text-color);
}

a:has(svg) svg {
    width: 2rem;
    height: 2rem;
}

a:has(svg):hover {
    color: var(--accent-color);
    text-decoration: none;
}

h1, h2, h3 {
    color: var(--accent-color);
    font-family: var(--heading-font);
    font-style: normal;
    font-weight: 500;
    margin-bottom: 1rem;
    z-index: 4;
}

h1 {
    font-size: 2.625rem;
}

h2 {
    font-size: 1.875rem;
}

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: var(--bg-color);
    border-right: 3px solid var(--border-color);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    color: var(--fade-color);
    font-size: 1.2rem;
    text-decoration: none;
    padding: 0.5rem 1.75rem;
    margin-right: 0.1875rem;
    display: block;
    box-shadow: none;
}

.sidenav a:hover {
    color: var(--accent-color);
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

@media screen and (max-width: 1000px) {
    :root {
        font-size: 1.6vw;
    }
    .sidenav {
        border-right: 1px solid var(--border-color);
    }
}

.snowbg {
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
}

.snowflake {
    position: fixed;
    background-color: #ffffff; /* default color, change if overlaps with text too much */
    user-select: none;
    z-index: 1;
    pointer-events: none;
    border-radius: 50%;
    width: 0.75vw;
    height: 0.75vw;
    opacity: 1;
}

.sidenav a.active {
  color: var(--accent-color);
  border-left: 3px solid var(--accent-color);
  padding-left: calc(1.75rem - 3px); /* compensate for border width */
}

.carousel-wrap {
    width: 101%;
    padding: 0;
}

.viewport {
    overflow: hidden;
    width: 100%;
}

.track {
    display: flex;
    width: max-content;
    animation: scroll-left 20s linear infinite;
}

.slide {
    flex: 0 0 auto;
    height: 20vw;
    margin-right: 0px;
    border-radius: 0px;
    overflow: hidden;
    background: var(--note-color);
    border-top: 2px solid var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
}

.slide-img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    display: block;
}

@keyframes scroll-left {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}